<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
    <a href="/login/?p=B2C_1_signup_argo">Sign Up</a>&nbsp;&nbsp;&lt;--- Just for this POC.  Don't implement this policy for real.<br /><br />
	<a href="/login/?p=B2C_1_signin_argo">Sign In</a>
<% } else { %>
	<h2>Hello, <%= user.displayName %>.</h2>
	<a href="/account">Account Info</a></br>
	<a href="/logout">Log Out</a>
<% } %>